/* GENERAL ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/* ===================================== */

/* REUSABLE ===================================== */
.section {
  padding: 3.2rem 3.2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.paragraph {
  font-weight: 300;
}

.heading-primary {
  font-size: 3rem;
}

.heading-secondary {
  font-size: 2rem;
}

.heading-tertiary {
  font-size: 2.4rem;
}

.link {
  color: #041ca9;
  text-decoration: none;
  font-weight: 500;
}

bold {
  font-weight: 700;
}

.img {
  max-width: 100%;
  height: auto;
}

.list {
  list-style: inside;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 3px;
  border: none;
}

.btn {
  padding: 1.6rem 3.2rem;
  border-radius: 24px;
  border: none;
  background-color: #35387a;
  color: #fff;
}

.text-sm {
  font-size: 1.4rem;
  font-weight: 300;
}

/* ============================================== */

/* MAIN SECTION ================================= */

.section-main {
  background-image: linear-gradient(to right, #1903a6, #7568ca);
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  margin-bottom: 0.8rem;
  height: 50px;
}

.tagline {
  margin-bottom: 2.4rem;
  position: relative;
  font-family: "Noto Serif", serif;
}

.tagline::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 3px;
  background-color: #fff;
  top: 50%;
  transform: translateX(calc(-100% - 1.6rem));
}

.tagline::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 3px;
  background-color: #fff;
  top: 50%;
  /* right: -0.8rem; */
  transform: translate(100%, -50%);
}

.main-cta-img {
  display: none;
}

.main-cta-img-desktop {
  display: none;
}

/* =============================================== */

/* CTA SECTION ==================================== */
.section-cta {
  padding: 6.4rem 3.2rem 6.4rem 3.2rem;
  background-color: #e6eafe;
}

.cta {
  display: flex;
  flex-direction: column;
}

.cta-heading {
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.cta-content {
  padding-top: 3.2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.cta-content-group {
  /* display: flex; */
  gap: 1.6rem;
}

.cta-text {
  margin-bottom: 3.2rem;
}

.cta-img {
  display: flex;
  align-self: flex-start;
  max-width: 150px;
  float: right;
  padding-bottom: 1.8rem;
  padding-left: 1.8rem;
}

.cta-list {
  padding: 0 0.8rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cta-form-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.cta-form-copy {
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  color: #999;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 0.8rem;
}

.cta-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cta-form-email {
  grid-column: 1/3;
}

.cta-form-check {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.cta-heading {
  border-bottom: 2px solid #fff;
}

/* ================================================ */

.footer {
  height: 6.4rem;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 567px) {
  .heading-primary {
    font-size: 4.4rem;
  }

  .tagline {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .main {
    justify-items: baseline;
  }

  .main-heading-container {
    display: flex;
    gap: 6.4rem;
  }

  .main-cta-img {
    display: block;
    max-width: 100%;
    height: 300px;
  }

  .section-main {
    padding: 3.2rem 6.4rem;
  }

  .cta-mobile {
    display: flex;
    gap: 1.6rem;
    padding: 3.2rem 0;
    align-items: first baseline;
  }

  .cta-form-container {
    border: 1px solid #fff;
    border-top: none;
    padding: 1.6rem 3.2rem;
  }
}

@media (min-width: 945px) {
  .section-main {
    padding: 6.4rem 3.2rem 0 3.2rem;
  }

  .main-cta-img {
    display: none;
  }

  .main-cta-img-desktop {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
}
